<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>55267118613-efjhsf9rrp7m7c7md25pa3u11uth5dus.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.55267118613-efjhsf9rrp7m7c7md25pa3u11uth5dus</string>
	<key>API_KEY</key>
	<string>AIzaSyC9HRGNTNgxZ74g1iUJcB7V2pQNPZOsNlI</string>
	<key>GCM_SENDER_ID</key>
	<string>55267118613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cashrich</string>
	<key>PROJECT_ID</key>
	<string>cashrich-fdf38</string>
	<key>STORAGE_BUCKET</key>
	<string>cashrich-fdf38.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:55267118613:ios:f8ddc537df574e7ce6481c</string>
</dict>
</plist>